.brJournal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    position: relative;
}

.brJournal .backgroundVideoAnimationsec{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: -1;

}

.brJournal .brCategaroBtnSec{
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(79, 78, 78, 0.179);
    border: 1px solid rgba(0, 0, 0, 0.507);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    margin-top: 50px;
}

.brJournal .brCategaroBtnSec div{
    background: linear-gradient(to top left, #F5F2EC, #F5F2EC);
    /* box-shadow:  0px 0px 10px black; */
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    color: black;
    transition: all 0.3s ease;
}
.brJournal .brCategaroBtnSec div:hover{
    cursor: pointer;
    border: 2px solid black;
    /* color: white; */
    
}
.brJournal .brCategaroBtnSec div.active{
    /* background: linear-gradient(to top right, #012a1e, #05fcb2); */
    background: linear-gradient(to top right, #1A5C42, #1A5C42);
    border: 2px solid rgba(255, 255, 255, 0.652);
    color: white;
}
.brJournal .brJournalCardSec{
    width: 90%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    gap: 20px;
    padding: 20px;
    /* background-image: url(../../assets/oliveBGImg.avif);
    background-position: center;
    background-size: cover; */
}

.brJournal .brJournalCardSec .brJournalCardSecItem{
    background-color: #01543b69;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    border-radius: 20px;
    color: #e4e4d6;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 2px solid #058a62;
    backdrop-filter: blur(5px);
    box-shadow: inset 0px 0px 30px #0b3d2e;
}

.brJournal .brJournalCardSec .brJournalCardSecItem:hover{
    /* box-shadow:  0px 0px 30px black; */
    transform: scale(1.02);
    /* transition: all 0.3s ease; */
}

.brJournal .brJournalCardSec .brJournalCardSecItem .cardSecItemImg{
    /* background-image: url(../../assets/landscapImg1.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 12/9;
    /* border-radius: 20px; */
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #058a62;
}

.brJournal .brJournalCardSec .brJournalCardSecItem .cardSecItemDetails{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    padding: 20px;
    font-size: 17px;
    color: #e4e4d6b5;

}

.brJournalCardSec .brJournalCardSecItem .cardSecItemDetails h3{
    font-size: 20px;
    color: #e4e4d6;
}

.brJournalCardSec .brJournalCardSecItem .fullDetailBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    width: 90%;
    padding: 20px 10px;
    border-top: 2px solid white;

}

.brJournalCardSec .brJournalCardSecItem .fullDetailBtn .readFullArticalBtn{
    color: #058a62;
    cursor: pointer;
    transition: all 0.3s ease;
}
.brJournalCardSec .brJournalCardSecItem .fullDetailBtn .readFullArticalBtn:hover{
    color: #06eea8;
    
}


/* ShowFullDetail */

.brJournal .ShowFullDetail{
    position: fixed;
    top: 0px;
    background-color: #0c0c0c;
    color: #e4e4d6;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    scrollbar-width: none;
    transform: scale(0.5);
    opacity: 0;
    padding-top: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.gobackBtn{
    color: black;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: #0000000c;
    transition: all 0.3s ease;
}
.gobackBtn:hover{
    color: white;
}
.articalBox{
    position: sticky;
    top: 20px;
    width: 90%;
    background-color: white;
    /* color: white; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    border-radius: 20px;
    /* position: relative; */
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 20px;
    gap: 20px;
}
.articalRightSec{
    width: 40%;
    background-color: white;
    color: #0b3d2e;
    /* height: 70vh; */
    position: sticky;
    top: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    border-radius: 20px;
    border: 1px solid #1A5C42;
    /* border-right: none; */
    padding: 10px;
    gap: 10px;
    box-shadow:  0px 0px 10px #0b3d2e;
    
}
.articalRightSec h4{
    width: 90%;
    text-align: center;
    font-size: 25px;
}
.articalRightSec p{
    width: 90%;
    text-align: center;
    font-size: 17px;

}
.articalRightSec .articaleSideSectionImg{
    width: 90%;
    aspect-ratio: 12/9;
    background-image: url(./landscapImg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
}
.articalRightSec .articalSideSectionBtn{
    background-color: #0b3d2e;
    color: white;
    width: 80%;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #0b3d2e;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
        color: #0b3d2e;
        background-color: white;
    }
}
.articalSec{
    width: 60%;
    /* position: sticky; */
    /* padding-top: 50px; */
    /* height: 90%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    border-radius: 20px;
    padding: 20PX;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
}






 /*  */


/* Header */

.articalSec .articleHeader {
    /* background-color: #06eea8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0PX;
    margin: 0PX;
    gap: 10PX;
    text-align: center;
}
.articalSec .articleHeader .articleTitle {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
    color: #1A5C42;
    /* margin-bottom: 15px; */
}

.articalSec .articleHeader .articleSubtitle {
    font-size: 1.4rem;
    /* line-height: 1.6; */
    color: black;
    font-weight: 400;
}

/* Introduction */

.articalSec .articleIntroduction {
    /* margin-bottom: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    /* gap: 10px; */
    /* font-size: 20PX; */
}
.articaleImg{
    width: 100%;
    aspect-ratio: 16/9;
    background-position: center;
    background-size: cover;
    border: 1px solid #0b3d2e;
    border-radius: 20px;

}
/* Paragraphs */

.articalSec .articleParagraph {
    font-size: 1.1rem;
    line-height: 1.3;
    color: rgb(65, 64, 64);
    margin-bottom: 10px;
}

/* Sections */

.articleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.sectionHeading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #111;
    /* margin-bottom: 25px; */
    line-height: 1.3;
}

/* Bullet Lists */

.sectionBullets {
    margin: 20px 0;
    padding-left: 25px;
}

.sectionBullets li {
    font-size: 1.05rem;
    line-height: 1.8;
    color: #333;
    /* margin-bottom: 10px; */
    /* list-style-type:circle; */
    list-style: outside;
}

/* Sources */

.articleSources {
    margin-top: 80px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}

.articleSources h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #111;
}

.sourceItem {
    margin-bottom: 15px;
}

.sourceItem a {
    color: #0066cc;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.6;
    transition: 0.3s ease;
}

.sourceItem a:hover {
    color: #004999;
    text-decoration: underline;
}

/* Responsive */

@media (max-width: 768px) {
    .articalSec {
        padding: 30px 16px;
    }

    .articleTitle {
        font-size: 2rem;
    }

    .articleSubtitle {
        font-size: 1.1rem;
    }

    .sectionHeading {
        font-size: 1.5rem;
    }

    .articleParagraph,
    .sectionBullets li {
        font-size: 1rem;
        line-height: 1.8;
    }
}
 /*  */
 .ShowFullDetail.showFullArticalPage{
    opacity: 1;
    transform: scale(1);
    z-index: 200;
    transition: all 0.5s ease;
}
@media (max-width:768px){
    .brJournal .brJournalCardSec{
        width: 95%;
        grid-template-columns:  1fr;
    }

    .articalDetails{
        width: 100%;
        flex-direction: column;
    }
    .articalDetails .articalImg{
        width: 100%;
    }
    .articalDetails .articalpSec{
        width: 100%;
    }
    .articalSec{
        width: 100%;
        box-shadow: none;
    }
    .articalRightSec{
        display: none;
    }
}
